sub/path/Schema_1_0.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schem.as/foo" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0" targetNamespace="http://schem.as/foo">
  <xs:element name="foo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="version" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="1.0"/>
    </xs:complexType>
  </xs:element>
</xs:schema>